@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Gloock', serif;
}
body{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.oHIPPVuTfNlRHMp7ytZrPAHaEK&pid=Api&P=0'); 
    background-size:cover; 
    background-position: center;
    background-attachment: fixed;
}
.main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.heading h1{
    background-color: black;
    color: greenyellow;
    font-size: 45px;
    font-weight: 950;
    letter-spacing: 1px;
    margin: 1rem;
    width: 50%;
    height: 5%;
}
.heading h3{
    background-color: black;
    color: greenyellow ;
    font-weight: 790;
    letter-spacing: 2px;
    width: 50%;
}
.container{
    width: 70%;
    height: 100%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 2rem;
}
.card{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card img{
    width: 67%;
    border-radius: 1rem 1rem 0 0;
}
.card button{
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
    letter-spacing: 1px;
}
.card2{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card2 img{
    width: 50%;
    border-radius: 1rem 1rem 0 0;
}
.card2 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card3{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card3 img{
    width: 60%;
    border-radius: 1rem 1rem 0 0;
}
.card3 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card4{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card4 img{
    width: 63%;
    border-radius: 1rem 1rem 0 0;
}
.card4 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card5{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card5 img{
    width: 50%;
    border-radius: 1rem 1rem 0 0;
}
.card5 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card6{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card6 img{
    width: 50%;
    border-radius: 1rem 1rem 0 0;
}
.card6 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card7{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card7 img{
    width: 75%;
    border-radius: 1rem 1rem 0 0;
}
.card7 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card8{
    width: 180px;
    border-radius: 180rem;
    background-color: greenyellow;
    padding: 5px;
}
.card8 img{
    width: 66%;
    border-radius: 1rem 1rem 0 0;
}
.card8 button{
    letter-spacing: 1px;
    width:70px;
    border-radius: 1rem 1rem 1rem 1rem;
}
.card h3{
    color: black;
    font-size: 20px;
}
.card link{
    color: aliceblue;
}
.btn{
    width: 100px;
}
.btn.p{
    color: black;
    font-size: 20px;
}
.btn1{
    border: 3px solid rgba(0, 0, 0, 0.685);
}
.bt2{
    border: 2px solid rgba(0, 0, 0, 0.685);
}
.kheer{
    background-image: url('https://www.cardiffandvalersb.co.uk/wp-content/uploads/bigstock-Abstract-light-shade-Backgroun-50060303.jpg'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid rgb(255, 47, 231);
}
.kheer.btn{
    width: 10px;
    letter-spacing: 3px;
}
img{
    width: 60%; 
    height:100%;
    border-color: aqua;
    border: 5px solid blue;
}
.briyani{
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.u7WE_t7bdE9H5dgD3RxWYQHaEo&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid rgb(227, 255, 47);
}
.chappathi{
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.Jkcfu5i69RwmcDmbV0d_mwHaEL&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid rgb(47, 255, 47);
}
.Cholebature{
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.Y8oGqDt5b9hBEK26IkKtrAHaEK&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid red;
}
.Lassi{
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.JxHmAVUh5tsnuPN7mEoVigHaEK&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid black;
}
.img2{
    width: 100%; 
    height:1%;
    border-color: aqua;
    align-content: center;
}
.Maggi{
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.g8S3mVw2qAB6QJSEvIPLbwHaEo&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid rgb(255, 47, 231);
}
.Poha{
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.YF4IOuXZvOqAkN-8oltAUwHaFj&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid blueviolet;
}
.Panipuri{
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.pqU4I_7ybn0t0JxnYvisngHaEK&pid=Api&P=0'); 
    background-size:cover;
    background-position: center;
    word-spacing: 2px;
    text-align: left;
    padding-left: 3px;
    width: 60%;
    height: 100%;
    border: 5px solid rgb(255, 47, 231);
}